
@{
    ViewData["Title"] = "Login";
}

<h1>Burası, Login sayfası olacak</h1>
<form method="post">
    <label>Kullanıcı Adı</label>
    <input type="text" name="UserName" value="" />

    <label>Şifre</label>
    <input type="password" name="Password" value="" />
    <button>Giriş</button>
</form>


